@font-face {
	font-family: "Bevan";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/Bevan.eot?") format("eot"),
		url('../fonts/Bevan.eot?#iefix') format('embedded-opentype'),
		url("../fonts/Bevan.woff") format("woff"),
		url("../fonts/Bevan.ttf") format("truetype"),
		url("../fonts/Bevan.svg#Bevan") format("svg");
}
@font-face {
	font-family: "LMMonoCaps";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/lmmonocaps10-regular.eot?") format("eot"),
		url("../fonts/lmmonocaps10-regular.woff") format("woff"),
		url("../fonts/lmmonocaps10-regular.ttf") format("truetype"),
		url("../fonts/lmmonocaps10-regular.svg#LMMonoCaps10-Regular") format("svg");
}
h1 {
	font-family: 'LMMonoCaps';
	font-size: 48px;
	padding-top: 20px;
	text-shadow: -1px 1px 0px #eee, -3px 3px 0px #000;
}
h1, h1 a, h1 a:visited, h1 a:active {
	color: #F58634;
}
h1 a:hover {
	text-decoration: none;
}
h2 {
	color: #156EA4;
	font-family: 'Bevan';
	margin: 20px 0 20px;
	text-shadow: -1px 1px 0px #eee, -2px 2px 0px #60858A;
}
a, a:visited, a:active {
	color: #156EA4;
}
footer {
	text-align: center;
}
#header {
}
#header div {
	margin-top: 10px;
}
.rupestre {
	text-align: center;
	height: 100%;
}
div.titulo {
	font-family: 'Bevan';
}
/*#headerimg h1 {
	display: block;
	margin: 0;
	padding: 0;
}
#headerimg h1 a {
	display: block;
	height: 250px;
	background: url(../images/1_conf_logo.png) no-repeat bottom center;
}*/
.subtitulos {
	display: block;
	height: 80px;
	margin: 10px 0px -15px;
	font-family: 'Bevan';
}
.subtitulos span {
	text-indent: -99999999px;
	font-size: 0.000000001em;
}
.box {
	background: #F5F5F5;
	padding: 16px 8px 14px;
	border-bottom: 5px solid #999;
}
.palestra {
	height: 100px;
    margin-bottom: 10px;
}
.foto {
	background: url(../images/quadro.png) no-repeat bottom left;
	height: 100px;
	margin: 0 5px 0 0;
	width: 100px;
}
.foto img {
	padding: 10px 0 0 16px;
	width: 75%;
}
span.titulo {
	font-weight: bold;
}
.conteudo {
	margin: 0px 0px 40px;
}
.keynote {
	color: #FF7F44;
	font-family: 'Bevan';
	font-weight: bold;
	text-transform: uppercase;
}
.no-keynote {
	color: #61BF5D;
	font-family: 'Bevan';
	font-weight: bold;
	text-transform: uppercase;
}
.widget-container {
	list-style: none;
}
.menu {
	background: #F5F5F5;
	border-top: 7px solid #ccc;
	list-style: none;
	padding: 10px 0 5px;
	margin: 0 0 20px;
}
.menu li {
	display: inline-block;
	font-family: 'Bevan';
	font-size: 16px;
	padding: 0px 5px;
	margin: 3px 5px 6px;
}

#sidebar {
	margin-left: 40px;
}

#sidebar h3 {
	color: #156EA4;
	font-family: 'Bevan';
	padding: 5px 0 15px;
}