body {
	background: #fff;
}
#header {
	background: url('../images/1_conf_bg_header.jpg') repeat-x top left;
	height: 250px;
	width: 100%;
}
#headerimg {
	border-bottom: 4px solid #5CA47A;
}
#headerimg h1 {
	display: block;
	margin: 0;
	padding: 0;
}
#headerimg h1 a {
	display: block;
	height: 250px;
	background: url('../images/1_conf_logo.png') no-repeat bottom center;
}
.content {
	background: #9CD2B0;
}